html{
	height:100%;
	width:100%;
}
body{
	height:100%; 
	width:100%;
	margin:0;
	padding:0;
	overflow: hidden;
}
.navbar{
	border-radius:0;
	margin-bottom:0;
}
#marker{
	font-size:4em;
	position: absolute;
}

.result {
	color: white;
}
button a{
	text-decoration:none;
	color: black;
}
#map_container {
	height:100%;
	margin:0;
	padding:0;
	overflow-y: hidden;
	overflow-x: auto;
}

#map_canvas {
	height:105%;
	width: 100%;
}

#result{
	padding: 10px 0px 10px 0px;
}
#navbar{
	z-index: 1;
}

#message{

	background-color:#525252;
	border-radius: 0;
	border: none;
	color:white;
	text-align:center;
	margin-top:73px;
	width: 100%;
	position:fixed;
	z-index: 3;
	box-shadow: 0 0 5px #888888;

}
#message p i {
	color: gray;
}
.alert-dismissable .close{
	color: white;
}
