#marker{
	font-size:4em;
	position: absolute;
}

.result {
	color: white;
}
button a{
	text-decoration:none;
	color: black;
}
#map_container {
	overflow-y: hidden;
	overflow-x: auto;
}
#map_canvas {
	margin-top:73px;

}

#result{
	padding: 10px 0px 10px 0px;
}
#navbar{
	z-index: 1;
}